/* YOUR CUSTOM STYLES */
/* Add a black background color to the top navigation */



@font-face {
    font-family: Jura-Demi-Bold;
    src: url("../font/Jura-DemiBold.otf");
}
/* navigation bar */
.topnav {
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    width:100%;
    position:relative;
    top:0;
    

}

/* style of "unipear */
     
.navbutton {
    font-size:1.2vw;
    font-family: Avenir LT, sans-serif; 
    
}
.buttons {
    /*position: absolute;
    right:4vw; */
    margin-top:2.3vw;
    overflow: hidden;
    position:absolute;
    right:4vw;
}
#whoWeAreBtn {
    text-align: center;
}
#contactbtn {
    text-align: center;
}

#logo {
    width:15vw;
    margin-top:0.6vw;
    margin-left:0.6vw;
    margin-bottom:0.6vw;
}
.topnav h1 {
    margin-top:1.6vw;
    margin-bottom:1.6vw;
    margin-left:0.6vw;
    font-size:3vw;
    font-family: 'Jura-Demi-Bold', arial;
}


    


/* Style the links inside the navigation bar */

a {
    color: #333;
}

nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 0px 1vw;
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
}


/*.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}*/

/* Change the color of links on hover */

.topnav:hover {
    background-color: #ff004c;
    -webkit-transition: all .3s ease-in;
}

.topnav:hover a {color: #fff;} 



/*.topnav:hover {
    background-color: transparent;
}   */

.topnav a:hover {
    color:#333;
}

.topnav a:focus {
    color:#fff;
}

.topnav p:hover {
    color:#fff;
}

/*script about navigation scroll 
.test {
    background-color: rgba(0,0,0,0.6);
    padding-top:0px;
    padding-bottom: 0px;
}
.test1 {
    color:#fff;
} */


/* end navigation bar */



/* main page */


.homeview {
    width:100vw;
    overflow: hidden;
    /*background-image: url('../img/myimages/skyline-blackandwhite.jpg');
    background-size:cover;
    background-blend-mode:difference;*/
    background-image: url("../img/myimages/skyline-blackandwhite.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.centrepage h1 {
    color: white;
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    /*-webkit-transition: all .3s ease-in;*/
    border-radius: 30px;
    /*margin-left:3vw;
    margin-right:3vw;*/
    padding: 0 1vw;
    margin:auto;
    width:60vw;
    font-family: 'Jura-Demi-Bold', arial;
    border-top-color: transparent;
    border-bottom-color:transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    background-color: rgba(0,0,0,0);
}
.homeview h1:hover {
    -webkit-transition: all .3s ease-in;

}

.centrepage {
    width:100%;
    padding-top: 10vw;
    padding-bottom:14vw;
}

.arrow {
    margin:auto;
    width:100%;
    padding-top:2vw;
    padding-bottom:2vw;
}
.arrow i {
    font-size:4vw;
    display:block;
    text-align: center;
    color:#ff004c;
}
.arrow i:hover {
    color: white;
}



/* next page start */


.aboutUs {
    /*position:relative;*/
    /*height:auto;*/
    padding-bottom:8vw;
    padding-top:8vw;
    background-color: white;
}

.whoWeAre h1 {
    text-align: center; 
    font-size: 3.5vw;
    margin-bottom:1vw;
    font-family: 'Jura-Demi-Bold', arial;
    color:#ff004c;
}
.whoWeAre p {
    font-family: Avenir LT, sans-serif;
    line-height: 2.7vw;
    text-align: justify;
    letter-spacing:0.12vw;
    width:92%;
    color:#333;
    font-size: 1.5vw;
    margin: auto;
    padding-top:1vw;
}
.whatWeDo h1 {
    width:92%;
    margin: auto; 
    margin-top:3vw;
    margin-bottom: 1vw;
    font-family: 'Jura-Demi-Bold', arial;
    color:#ff004c;
    text-align:center;
    font-size:3.5vw;
}

.whatWeDo p {
    font-family: Avenir LT, sans-serif;
    line-height: 2.7vw;
    text-align: justify;
    letter-spacing:0.12vw;
    width:92%;
    color:#333;
    font-size: 1.5vw;
    margin: auto;
    padding-top:1vw;
}



/*why part*/






.whyIncubator {
    overflow:hidden;
    padding: 6vw 0;
    background-color: #333;
}

.WhyInfo {
    width:40vw;
    float:right;
    text-align: left;
    padding: 1vw 0;
}

.whyIncubator h1 {
    width:50%;
    float:left;
    padding:3vw 2vw;
    text-align:center;
    font-weight:400;
    font-family:'Jura-Demi-Bold', arial; 
    color:white;
    font-size: 3vw;
}
.WhyInfo i {
    padding: 0vw 1vw;
    color:#ff004c;
    font-size:1.7vw;
}
.WhyInfo p {
    font-size:1.7vw;
    color:white;
}



.fireimage {
    background-image: url("../img/myimages/fireimage.jpg");
    width: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fireimage section {
    height:45vw;
}


.link2hatch {
    background-color: #ff004c;
    overflow:hidden;
    padding-top: 5vw;
}
.link2hatch h3 {
    font-size:2vw;
    width:70vw;
    font-family:'Jura-Demi-Bold', arial;
    text-align:left;
    padding: 2vw 4vw;
    float:left;
}
.link2hatch h1 {
    font-size:8vw;
    color:#52ffff;
    width:70vw;
    float:left;
    font-family: 'Jura-Demi-Bold', arial;
    text-align:right;
    padding: 0vw 2vw;
}
.link2hatch h2 {
    float: right;
    font-size:3vw;
    width:10vw;
    text-align:center;
    padding: 0vw 0vw;
    font-family: 'Jura-Demi-Bold', arial;
}
.link2hatch a {
    float:left;
    width:30vw;
    text-align: center;
    font-size:3vw;
    margin-left:6vw;
    border-style: solid;
    border-color:white;
    background-color:transparent;
    border-radius:40px;
    color:white;
    font-family: 'Jura-Demi-Bold', arial;
}

.link2hatch a:hover {
    background-color: white;
    color:#ff004c;
}


.link2hatch h4 {
    font-size:6vw;
    float: left;
    width:58vw;
    text-align:right;
    color:white;
    font-family: 'Jura-Demi-Bold', ariel;
    font-style: oblique;
    padding: 0vw 0vw;
}

/*.link2hatch img {
    float:right;
    display: inline-block;
}*/
#hatchdiv {
    float:right;
    display:inline-block;
    background-image:url('../img/myimages/HatchImage.png');
    background-size: cover;
    height:30vw;
    width:30vw;
}


/* new bit */ 

.ambassador {
    overflow:hidden;
    padding:17vw 0;
    background-color:transparent;
    height:inherit;
}

.ambassador h2{
    width:80%;
    margin:auto;
    font-size:2.5vw;
    font-family:'Jura-Demi-Bold', arial;
    color:white;
}
.ambassador p {
    width:50%;
    margin-top:1.5vw;
    margin-left:10%;
    font-size:1.4vw;
    font-family:'Jura-Demi-Bold', arial;
    color:white;
}

.ambassador a {
    float:right;
    display:inline-block;
    text-decoration:none;
    background-color:#ff004c;
    color:white;
    border-color:transparent;
    border-style:solid;
    cursor:pointer;
    font-family:'Jura-Demi-Bold', arial;
    font-size:2vw;
    text-align:center;
    width:30vw;
    margin: 0 8vw;
    /*height:3.9vw;*/
    padding:0.38vw 0vw;
    border-radius:50px;
    max-width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.ambassador a:hover {
    background-color: white;
    color:#ff004c;
}




.noticeboard {
    text-align:center;
    padding: 6vw 0;
}

























/* bottom page styling */
.bottompage {
    height:9vw;
    background-color:#333;
    overflow:hidden;
    
}
.bottompage h1 {
    margin-top:3.5vw;
    width:40vw;
    float:left;
    text-align: center;
    font-size:2vw;
    font-family:'Jura-Demi-Bold';
}
    

.bottompage p {
    float:left;
    display: block;
    margin-top:3.5vw;
    width:20vw;
    text-align: center;
    font-size: 1vw;
    color:white;
    font-weight: 200;
    font-family:'Jura-Demi-Bold';
}

.bottompage img {
    float:right;
    width:3vw;
    height:3vw;  
    margin: 3.5vw 0.5vw;
    
}
#fb {
    margin-right:3vw;
}




@media screen and (max-width: 480px) {
    
.navbutton {
    font-size:3vw;
    }
    
.topnav h1 {
    margin-top:1.6vw;
    margin-bottom:1.6vw;
    margin-left:0.6vw;
    font-size:5vw;
    }
    
.topnav {
        background-color:#ff004c
    }

.topnav a {
    color:white;
    margin-top:2vw;
    margin-bottom:2vw;
    
    }
.topnav a:hover {
        color:#333;
    }
    
.homeview {
    width:100vw;
    }
    
.centrepage h1 {
    font-size: 8vw;
    width:90vw;
    }
    
.centrepage {
    padding-top: 35vw;
    padding-bottom:35vw;
    }
    
.arrow {
    padding-top:0vw;
    padding-bottom:0vw;
    }
    
.arrow i {
    padding-top:2vw;
    padding-bottom:2vw;    
    font-size:10vw;
    }
    
.aboutUs {
    padding-bottom:12vw;
    padding-top:12vw;
    }

.whoWeAre h1 {
    
    font-size: 8vw;
    margin-bottom:2vw;
}
.whoWeAre p {
    width:80%;
    line-height: 6vw;
    letter-spacing:0.12vw;
    font-size: 3.5vw;
    padding-top:1vw;
}
.whatWeDo h1 {
    margin-top:12vw;
    margin-bottom: 3vw;
    font-size:8vw;
}

.whatWeDo p {
    width:80%;
    line-height: 6vw;
    letter-spacing:0.12vw;
    font-size: 3.5vw;
    padding-top:1vw;
}

.whyIncubator {
    padding: 6vw 0;
}

.WhyInfo {
    width:50vw;
    padding: 1vw 0;
    margin-top:2vw;
}

.whyIncubator h1 {
    padding:3vw 4vw;
    font-size: 5vw;
    margin-top:2vw;
}
.WhyInfo i {
    padding-right:1vw;
    font-size:3vw;
}
.WhyInfo p {
    font-size:3vw;
}
    
.fireimage {
    height:auto;
    width:100%;
}
    
.ambassador {
    padding:10vw 0;
}
    
.fireimage section {
       height:auto;
    }

.ambassador h2{
    font-size:6vw;
}
.ambassador p {
    width:40%;
    margin-top:1.5vw;
    margin-left:10%;
    font-size:2.8vw;
}

.ambassador a {
    font-size:2.5vw;
    width:40vw;
    margin: 9vw 7vw;
    padding:0.38vw 0vw;
    max-width:100%;
}

.link2hatch {
    padding-top: 5vw;
}
.link2hatch h3 {
    width:70vw;
    font-size:3vw;
    padding: 2vw 10vw;
}
.link2hatch h1 {
    font-size:12vw;
    width:50vw;
    padding: 0vw 2vw;
    margin-top:4vw;
}
.link2hatch h2 {
    font-size:6vw;
    width:10vw;
    padding: 0vw 0vw;
}
.link2hatch a {
    width:30vw;
    font-size:3vw;
    margin-left:10vw;
    margin-top:10vw;
    
}



.link2hatch h4 {
    font-size:6vw;
    width:25vw;
    margin-top:6vw;
    padding: 0vw 0vw;
}

#hatchdiv {
    width:50vw;
    height:50vw;
}

.bottompage {
    overflow:hidden;
    height:auto;
    
}
.bottompage h1 {
    margin-top:0vw;
    margin-bottom:0vw;
    padding: 5vw 2vw;
    width:50vw;
    font-size:4vw;
    }
    

.bottompage p {
    padding: 5vw 0vw;
    width:50vw;
    font-size: 3vw;
    margin-top:0vw;
    margin-bottom:0vw;
}

}













